.our-team {
  background-color: var(--secondary_background_color);
}

.our-team__list {
  display: block;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
}

.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__item {
  max-width: 270px;

  background-color: var(--white_color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-team__title {
  color: var(--general_text_color);
  @include font(36px, 700, 1.16, 0.03em);
  text-align: Center;
  margin-bottom: 50px;
}

.our-team__name {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;

  color: var(--general_text_color);
  @include font(16px, 500, 1.17, 0.03em);
}

.our-team__profession {
  text-align: center;
  padding-bottom: 16px;
}

.our-team__profession {
  color: var(--secondary_text_color);
  @include font(16px, 400, 1.19, 0.03em);
}

.our-team__social-list {
  padding-bottom: 30px;
}

// .social_list_item {
//   @include size(44px, 44px);
// }

.social_list_item:not(:last-child) {
  margin-right: 10px;
}

.our-team__social-network-list-type {
  &:hover,
  &:focus {
    background-color: var(--links_and_buttons_color);
  }

  &:hover .social_link,
  &:focus .social_link {
    fill: var(--white_color);
  }
}
