.main-section {
  margin: 0 auto;
}

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work-examples__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
  max-width: 370px;
  border: solid 1px #eeeeee;
  border-top: none;

  &:nth-child(3n + 1) {
    margin-left: 0;
  }
  &:nth-child(1n + 7) {
    margin-bottom: 0;
  }
}

.work-examples__button {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.work-examples__button:hover .work-examples__text-overlay,
.work-examples__button:focus .work-examples__text-overlay {
  transform: translateY(0);
}

.work-example__name {
  color: var(--general_text_color);
  font-family: Roboto;
  @include font(18px, 700, 2, 0.06em);
  font-style: normal;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 4px;
}

.work-example__type {
  color: var(--secondary_text_color);
  font-family: Roboto;
  @include font(16px, 400, 1.87, 0.03em);
}

.work-example__description {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.work-examples__overlay {
  position: relative;
  overflow: hidden;
}

.work-examples__text-overlay {
  position: absolute;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0, 03;
  color: var(--white_color);
  @include size(100%, 101%);
  left: 0;
  top: 0;
  padding: 24px 63px;
  background-color: rgba(33, 150, 243, 0.9);

  overflow: hidden;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
