.modal {
  display: block;
  padding: 40px 41px;
}

.modal_form_title {
  display: block;
  color: var(--secondary_text_color);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1%;
  margin-bottom: 4px;
}

.modal_input {
  /* display: flex; */
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px;
  border-color: rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input_form:not(:last-child) {
  margin-bottom: 10px;
}

.text_input {
  resize: none;
  width: 100%;
  min-height: 120px;
  border: solid 1px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;

  font-size: 12px;
  outline: none;
}

.input_form {
  position: relative;
}

.modal_icon {
  position: absolute;
  bottom: 11px;
  left: 13px;
  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_form_title:focus > .modal_input {
  border-color: yellowgreen;
}

.input_form:focus-within .modal_input,
.textarea_block:focus-within .text_input {
  border-color: var(--links_and_buttons_color);
}

.input_form:focus-within .modal_icon {
  fill: var(--links_and_buttons_color);
}

.textarea_block {
  margin-top: 50px;
  margin-bottom: 20px;
}

.modal_sending_button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.modal_button {
  display: block;

  min-width: 200px;
  min-height: 50px;
  background-color: var(--links_and_buttons_color);
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03;

  color: var(--white_color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.87;
}

.checkbox {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.checkbox:checked {
  background-color: var(--links_and_buttons_color);
}

.checkbox_point:checked + .accept_conditions .checkbox_icon {
  background-color: var(--links_and_buttons_color);
  fill: #ffffff;
  border: none;
}

.checkbox_point {
  appearance: none;
}

.checkbox_icon {
  position: absolute;
  top: 4px;
  left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--general_text_color);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.38px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox_item {
  fill: var(--white_color);
  display: flex;
}

.checkbox_point:hover .checkbox_icon {
  fill: var(--white_color);
}

.accept_conditions {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03;
  color: var(--secondary_text_color);
  display: flex;
  justify-content: center;
}
.conditions {
  color: var(--links_and_buttons_color);
  text-decoration: underline;
}

.modal_button {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
