:root {
  --general_text_color: #212121;
  --secondary_text_color: #757575;
  --links_and_buttons_color: #2196f3;
  --background_color: #2f303a;
  --white_color: #ffffff;
  --secondary_background_color: #f5f4fa;
  --thirdly_background_color: #e5e5e5;
  --borders_color: #afb1b8;
}
